In [ ]:
%pip install google-cloud-storage
%pip install pandas
%pip install numpy
%pip install fsspec
%pip install gcsfs

In [5]:
from google.cloud import storage
import pandas as pd
import numpy as np

In [6]:
bucket_name = 'ppp-loan-analysis'
gs_path  = f'gs://{bucket_name}/'
raw_folder = 'raw-data/'
clean_folder = 'clean-data/'
final_folder = 'final-data/'
dropped_folder = 'dropped-data/'
gdp_folder = 'gdp-data/'

In [7]:
storage_client = storage.Client() 
bucket = storage_client.get_bucket(bucket_name)

# Raw GDP Data

In [17]:
raw_gdp_path = gs_path + raw_folder + gdp_folder + 'CAGDP1__ALL_AREAS_2001_2023.csv'
raw_gdp_df = pd.read_csv(raw_gdp_path, header=0)

In [18]:
# Print gdp_df schema
raw_gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9538 entries, 0 to 9537
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   GeoFIPS                 9538 non-null   object
 1   GeoName                 9534 non-null   object
 2   Region                  9534 non-null   object
 3   TableName               9534 non-null   object
 4   LineCode                9534 non-null   float64
 5   IndustryClassification  9534 non-null   object
 6   Description             9534 non-null   object
 7   Unit                    9534 non-null   object
 8   2001                    9534 non-null   object
 9   2002                    9534 non-null   object
 10  2003                    9534 non-null   object
 11  2004                    9534 non-null   object
 12  2005                    9534 non-null   object
 13  2006                    9534 non-null   object
 14  2007                    9534 non-null   object
 15  2008                    9534 non-null   object
 16  2009                    9534 non-null   object
 17  2010                    9534 non-null   object
 18  2011                    9534 non-null   object
 19  2012                    9534 non-null   object
 20  2013                    9534 non-null   object
 21  2014                    9534 non-null   object
 22  2015                    9534 non-null   object
 23  2016                    9534 non-null   object
 24  2017                    9534 non-null   object
 25  2018                    9534 non-null   object
 26  2019                    9534 non-null   object
 27  2020                    9534 non-null   object
 28  2021                    9534 non-null   object
 29  2022                    9534 non-null   object
 30  2023                    9534 non-null   object
dtypes: float64(1), object(30)
memory usage: 2.3+ MB

In [19]:
# Print the total number of rows in the dataframe
total_rows = len(raw_gdp_df)
print(f"Total number of rows: {total_rows}")

Total number of rows: 9538

In [20]:
# Print the number of unique GeoFIPS in the dataframe
unique_geofips = raw_gdp_df['GeoFIPS'].nunique()
print(f"Number of unique GeoFIPS: {unique_geofips}")

Number of unique GeoFIPS: 3182

In [ ]:
# Show the first 10 GEOFIPS values
print("First 10 GeoFIPS values:")
print(raw_gdp_df['GeoFIPS'][:10])

First 10 GeoFIPS values:
0     "00000"
1     "00000"
2     "00000"
3     "01000"
4     "01000"
5     "01000"
6     "01001"
7     "01001"
8     "01001"
9     "01003"
Name: GeoFIPS, dtype: object

# Clean GDP Data

In [23]:
clean_gdp_path = gs_path + clean_folder + gdp_folder + 'cleaned_gdp_data.csv'
clean_gdp_df = pd.read_csv(clean_gdp_path, header=0)

In [24]:
# Print clean_gdp_df schema
clean_gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19032 entries, 0 to 19031
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   facts_gdp_id          19032 non-null  int64
 1   geofips               19032 non-null  int64
 2   geo_name              19032 non-null  object
 3   region                19032 non-null  object
 4   year_id               19032 non-null  int64
 5   chain_type_index_gdp  19032 non-null  float64
 6   current_dollar_gdp    19032 non-null  float64
 7   real_gdp              19032 non-null  float64
dtypes: float64(3), int64(3), object(2)
memory usage: 1.2+ MB

In [25]:
# Print the number of rows in the cleaned dataframe
clean_total_rows = len(clean_gdp_df)
print(f"Total number of rows in cleaned dataframe: {clean_total_rows}")

Total number of rows in cleaned dataframe: 19032

In [27]:
# Print the number of unique GeoFIPS in the dataframe
clean_unique_geo_fips = clean_gdp_df['geofips'].nunique()
print(f"Number of unique GeoFIPS in cleaned dataframe: {clean_unique_geo_fips}")

Number of unique GeoFIPS in cleaned dataframe: 3172

# Dropped Data

In [29]:
dropped_gdp_path = gs_path + dropped_folder + gdp_folder + 'dropped_raw_gdp_data.csv'
dropped_gdp_df = pd.read_csv(dropped_gdp_path, header=0)

In [30]:
# print the number of rows in the dropped dataframe
dropped_total_rows = len(dropped_gdp_df)
print(f"Total number of rows in dropped dataframe: {dropped_total_rows}")

Total number of rows in dropped dataframe: 18

In [31]:
# Print the number of unique GeoFIPS in the dropped_gdp_df
dropped_unique_geo_fips = dropped_gdp_df['GeoFIPS'].nunique()
print(f"Number of unique GeoFIPS in dropped dataframe: {dropped_unique_geo_fips}")

Number of unique GeoFIPS in dropped dataframe: 6

In [33]:
# Show all the rows in the dropped dataframe
print("Dropped dataframe rows:")
dropped_gdp_df.head(18)

Dropped dataframe rows:

,GeoFIPS,GeoName,Region,Description,2017,2018,2019,2020,2021,2022,drop_reason
0,"""02063""","Chugach Census Area, AK*",8,Real GDP (thousands of chained 2017 dollars),(NA),(NA),(NA),1268010,1330368,1406228,2017_na
1,"""02063""","Chugach Census Area, AK*",8,Chain-type quantity indexes for real GDP,(NA),(NA),(NA),(NM),(NM),(NM),2017_na
2,"""02063""","Chugach Census Area, AK*",8,Current-dollar GDP (thousands of current dolla...,(NA),(NA),(NA),1291960,1426984,1635885,2017_na
3,"""02066""","Copper River Census Area, AK*",8,Real GDP (thousands of chained 2017 dollars),(NA),(NA),(NA),106221,124946,128311,2017_na
4,"""02066""","Copper River Census Area, AK*",8,Chain-type quantity indexes for real GDP,(NA),(NA),(NA),(NM),(NM),(NM),2017_na
5,"""02066""","Copper River Census Area, AK*",8,Current-dollar GDP (thousands of current dolla...,(NA),(NA),(NA),108227,132650,143508,2017_na
6,"""02201""","Prince of Wales-Outer Ketchikan Census Area, AK*",8,Real GDP (thousands of chained 2017 dollars),(NA),(NA),(NA),(NA),(NA),(NA),2017_na
7,"""02201""","Prince of Wales-Outer Ketchikan Census Area, AK*",8,Chain-type quantity indexes for real GDP,(NA),(NA),(NA),(NA),(NA),(NA),2017_na
8,"""02201""","Prince of Wales-Outer Ketchikan Census Area, AK*",8,Current-dollar GDP (thousands of current dolla...,(NA),(NA),(NA),(NA),(NA),(NA),2017_na
9,"""02232""","Skagway-Hoonah-Angoon Census Area, AK*",8,Real GDP (thousands of chained 2017 dollars),(NA),(NA),(NA),(NA),(NA),(NA),2017_na
10,"""02232""","Skagway-Hoonah-Angoon Census Area, AK*",8,Chain-type quantity indexes for real GDP,(NA),(NA),(NA),(NA),(NA),(NA),2017_na
11,"""02232""","Skagway-Hoonah-Angoon Census Area, AK*",8,Current-dollar GDP (thousands of current dolla...,(NA),(NA),(NA),(NA),(NA),(NA),2017_na
12,"""02280""","Wrangell-Petersburg Census Area, AK*",8,Real GDP (thousands of chained 2017 dollars),(NA),(NA),(NA),(NA),(NA),(NA),2017_na
13,"""02280""","Wrangell-Petersburg Census Area, AK*",8,Chain-type quantity indexes for real GDP,(NA),(NA),(NA),(NA),(NA),(NA),2017_na
14,"""02280""","Wrangell-Petersburg Census Area, AK*",8,Current-dollar GDP (thousands of current dolla...,(NA),(NA),(NA),(NA),(NA),(NA),2017_na
15,"""02261""","Valdez-Cordova Census Area, AK*",8,Real GDP (thousands of chained 2017 dollars),2138740,2122281,2102591,(NA),(NA),(NA),2020_na
16,"""02261""","Valdez-Cordova Census Area, AK*",8,Chain-type quantity indexes for real GDP,100.000,99.230,98.310,(NA),(NA),(NA),2020_na
17,"""02261""","Valdez-Cordova Census Area, AK*",8,Current-dollar GDP (thousands of current dolla...,2138740,2182658,2304803,(NA),(NA),(NA),2020_na