In [ ]:
%pip install openpyxl

In [2]:
from google.cloud import storage
import pandas as pd
import numpy as np

In [3]:
bucket_name = 'ppp-loan-analysis'
gs_path  = f'gs://{bucket_name}/'
raw_folder = 'raw-data/'
clean_folder = 'clean-data/'
final_folder = 'final-data/'
dropped_folder = 'dropped-data/'
naics_folder = 'naics-data/'

In [4]:
storage_client = storage.Client() 
bucket = storage_client.get_bucket(bucket_name)

# Raw NAICS Data

In [7]:
raw_naics_path = gs_path + raw_folder + naics_folder + '2022_NAICS_Descriptions.xlsx'
raw_naics_df = pd.read_excel(raw_naics_path, header=0)

In [8]:
raw_naics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2125 entries, 0 to 2124
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Code         2125 non-null   object
 1   Title        2125 non-null   object
 2   Description  1971 non-null   object
dtypes: object(3)
memory usage: 49.9+ KB

In [9]:
# Number of empty values in each column
raw_naics_df.isnull().sum()

Code             0
Title            0
Description    154
dtype: int64

In [10]:
# Number of unique values in each column
raw_naics_df.nunique()

Code           2125
Title          1758
Description    1971
dtype: int64

In [11]:
raw_naics_df.head()

,Code,Title,Description
0,11,"Agriculture, Forestry, Fishing and HuntingT","The Sector as a Whole\n\nThe Agriculture, Fore..."
1,111,Crop ProductionT,Industries in the Crop Production subsector gr...
2,1111,Oilseed and Grain FarmingT,This industry group comprises establishments p...
3,11111,Soybean FarmingT,See industry description for 111110.
4,111110,Soybean Farming,This industry comprises establishments primari...

# Clean NAICS Data

In [16]:
clean_naics_path = gs_path + clean_folder + naics_folder + 'cleaned_naics_data.csv'
clean_naics_df = pd.read_csv(clean_naics_path)

In [17]:
clean_naics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2122 entries, 0 to 2121
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   naics_code   2122 non-null   int64
 1   naics_title  2122 non-null   object
 2   description  1968 non-null   object
dtypes: int64(1), object(2)
memory usage: 49.9+ KB

In [20]:
# Number of empty values in each column
clean_naics_df.isnull().sum()

naics_code       0
naics_title      0
description    154
dtype: int64

In [21]:
# Number of unique values in each column
clean_naics_df.nunique()

naics_code     2122
naics_title    1429
description    1968
dtype: int64

# Dropped NAICS Data

In [12]:
dropped_naics_path = gs_path + dropped_folder + naics_folder + 'dropped_raw_naics_data.csv'
dropped_naics_df = pd.read_csv(dropped_naics_path)

In [14]:
dropped_naics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   naics_code   3 non-null      object
 1   naics_title  3 non-null      object
 2   description  3 non-null      object
 3   drop_reason  3 non-null      object
dtypes: object(4)
memory usage: 228.0+ bytes

In [13]:
dropped_naics_df.head()

,naics_code,naics_title,description,drop_reason
0,31-33,ManufacturingT,The Sector as a Whole\n\nThe Manufacturing sec...,naics_code_not_numeric
1,44-45,Retail TradeT,The Sector as a Whole\n\nThe Retail Trade sect...,naics_code_not_numeric
2,48-49,Transportation and WarehousingT,The Sector as a Whole\n\nThe Transportation an...,naics_code_not_numeric